
#match_bSize{
	text-align:center;
}

#match_bItem{
	width:800px;
	font-size:10pt;
}

#b_Hidden{
	display: block;
}

#mIdx{
	display: none;
}

#mCatg{
	display: none;
}

#paging{text-align:center;}
a.paging-item,a.paging-side{margin:0 .25em;}
a.paging-item.selected{font-weight:bold;}