#mainBoardTab{
	padding-top: 2%;
	padding-left:20%;
	width:600px;
}
#match_bSize{
	padding-top:2%;
	text-align:center;
	border:1px;
	border-color:black;
}
#match_bItem{
	width:600px;
	font-size:10pt;	
}

#b_Hidden{
	display:black;
}

#mIdx{
	display:none;
}
