
#match_bSize{
	padding-top:2%;
	text-align:center;
}
#match_bItem{
	width:800px;
	font-size:10pt;	
}

#b_Hidden{
	display: block;
}

#mIdx{
	display: none;
}

#mCatg{
	display: none;
}