<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spomatch.dao.AccountDao">
	<select id="emailVerify" resultType="com.spomatch.dto.MemberVo">
		SELECT * FROM SPO_MEMBER
	</select>

	<select id="emailCheck" resultType="com.spomatch.dto.MemberVo">
		SELECT MEM_ID FROM SPO_MEMBER
		WHERE MEM_ID = #{userid }
	</select>

	<insert id="memberJoin" parameterType="com.spomatch.dto.MemberVo">
		INSERT INTO SPO_MEMBER
		VALUES
		(MEMBERSEQ.NEXTVAL, #{userid }, #{userpw }, #{username },
		SYSDATE)
	</insert>
</mapper>