<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spomatch.dao.BoardDao">
  	<select id="boardList" resultType="com.spomatch.dto.MatchVo">
  	SELECT * FROM SPO_MATCH WHERE MAT_CATE = 'S'
  	</select>
  </mapper>