<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spomatch.dao.LeagueDao">
  	<select id="leagueTmList" resultType="com.spomatch.dto.LeagueTmVo">
  	<!-- SELECT * FROM SPO_LEAGUETM WHERE LEA_IDX = 5 and LT_STATUS = 'T' ORDER BY LT_GROUP ASC -->
  	
  	SELECT * FROM SPO_TEAM TM, SPO_LEAGUETM LT WHERE TM.TEAM_IDX=LT.TEAM_IDX AND LT.LEA_IDX=5 
  	ORDER BY LT_GROUP ASC
  	</select>
  	
  	
  	
  	
  </mapper>