<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spomatch.dao.LeagueDao">
  	<select id="leagueList" resultType="com.spomatch.dto.LeagueVo">
  	SELECT * FROM SPO_LEAGUE <!-- WHERE MAT_CATE = ${param.catg } -->
  	</select>
  </mapper>