<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spomatch.dao.MatchDao">
  
  	<!-- <insert id="insertTeamMatch" parameterType="com.spomatch.dto.MatchVo">
  		INSERT INTO SPO_MATCH (MAT_IDX, MAT_DATE, MAT_CATE, MAT_MATCHDAY, MAT_HOST, MAT_GUEST,
  		 MAT_LOCAL, MAT_STATUS, MAT_LV) VALUES(SPO_MAT_SEQ.NEXVAL, #{ } )
  	</insert> -->
  </mapper>